.tablet-and-up {

  @media screen and (max-width: $width-tablet - 1) {
      display: none;
  }
}

.mobile-only {

  @media screen and (min-width: $width-tablet) {
    display: none;
  }
}

.align-left {

  @media screen and (min-width: $width-tablet) {
    text-align: left;
  }
}

.align-right {

  @media screen and (min-width: $width-tablet) {
    text-align: right;
  }
}

.gutters-tablet-and-up {

  div[class*="col"] {
    @media screen and (max-width: $width-tablet - 1) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.nojs {

  .nojs-hide {
    display: none;
  }
}

.bbc-brand-specific {
  display: none;

  .brand-hi &,
  .brand-mu &,
  .brand-cf &,
  .brand-gw &,
  .brand-gf &,
  .brand-rt &,
  .brand-sn &,
  .brand-tg &,
  .brand-wdytya &,
  .brand-wh & {
    display: block;
  }
}

.bbc-studios-brand-specific {
  display: none;

  .brand-sf & {
    display: block;
  }
}
